---
import { HpoiCollection } from '@components/hpoi';
import HomeSider from '@components/layout/HomeSider.astro';
import Cover from '@components/ui/cover/Cover.astro';
import { CONTENT_PADDING } from '@constants/layout';
import { hpoiConfig, siteConfig } from '@constants/site-config';
import Layout from '@layouts/Layout.astro';
import TwoColumnLayout from '@layouts/TwoColumnLayout.astro';
import { Comment } from '@/components/comment';
import { getLocaleFromUrl, t } from '@/i18n';

const locale = getLocaleFromUrl(Astro.url.pathname);
const title = `${t(locale, 'hpoi.title')} | ${siteConfig.title}`;
const description = t(locale, 'hpoi.description');

if (!hpoiConfig) Astro.response.status = 404;
---

{
  hpoiConfig && (
    <Layout title={title} description={description}>
      <TwoColumnLayout>
        <Cover slot="cover" title={t(locale, 'hpoi.title')} />
        <HomeSider slot="sider" />
        <div class={`bg-gradient-start shadow-box tablet:shadow-none flex flex-col overflow-hidden ${CONTENT_PADDING.standard}`}>
          <HpoiCollection client:load />
          <Comment />
        </div>
      </TwoColumnLayout>
    </Layout>
  )
}
